@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Tiltle"] = "Login";
}
<div class="text-center">
    <h1 class="display-4" style="color: red">Welcome to Kiet</h1>
    <form action="#">
        <label for="username">Username:</label> <br />
        <input type="text" name="username" value="" /> <br />
        <label for="password">Password:</label> <br />
        <input type="password" name="password" value="" /> <br />
        <button>Submit</button>
    </form>
</div>
